h1, h2 {
  margin: 5px;
  color: white;
  position: relative;
  left: 35%;
  font-size: 400%;
  bottom: 112px;
}

.App {
  text-align: center;
}
.Logo{
  position: relative;
  width: 220px;
  left: 145px;
  height: 120px;
}
.header{
  height: 141px;
}

.App-header {
  height: 120px;
  padding: 20px;
  background-image: url("http://2.bp.blogspot.com/-4T15yJnuijM/U7Fv20jIdpI/AAAAAAAAFa8/KUtHG9Gs2z8/w1200-h630-p-k-no-nu/(GRASS+2)+seamless+turf+lawn+green+ground+field+texture.jpg")
}
.Progress{
  color: pink;
} 

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
